#!/usr/bin/make -f

export PYBUILD_DESTDIR_python2=debian/python-pam/
export PYBUILD_DESTDIR_python2-dbg=debian/python-pam-dbg/
export PYBUILD_DESTDIR_python3=debian/python3-pam/
export PYBUILD_DESTDIR_python3-dbg=debian/python3-pam-dbg/

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_clean:
	rm -rf build
	rm -rf *.egg-info
	dh_clean

override_dh_installdocs:
	dh_installdocs AUTHORS README

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog
	rm -rf debian/python-pam-dbg/usr/share/doc/python-pam-dbg
	ln -sf python-pam debian/python-pam-dbg/usr/share/doc/python-pam-dbg
	rm -rf debian/python3-pam-dbg/usr/share/doc/python3-pam-dbg
	ln -sf python3-pam debian/python3-pam-dbg/usr/share/doc/python3-pam-dbg
